{% extends 'main/base.html' %}{% load static %} {% block title %}
<link rel="stylesheet" href="{% static 'css/password.css' %}" />
{% endblock title %} {% block contenido %}
<div class="contenedor">
  {% if user.is_authenticated %}
  <div class="titulo_fondo">
    <h1>Cambio contraseña</h1>
  </div>
  <form method="post" id="form">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" name="enviar" value="enviar" />
  </form>
  <div class="avatar_container">
    <img
      class="avatar"
      src="{% static 'images/logo.png' %}"
      alt="Opportunities Link"
    />
    <h1>LOGIN OPPORTUNITIES LINK</h1>
  </div>
  {% else %}
  <h1>INICIA SESION PARA ACCEDER A ESTA PAGINA</h1>
  {% endif %}
</div>
{% endblock contenido %}
