@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,500;1,400;1,900&display=swap');
:root{
    --primary-color:#f09d02;
    --secondary-color:#375e97;
    --terceary-color:#f80657;
    --font-primary-color: black;
    --font-secondary-color: white;
    --body-font: 'Poppins', sans-serif;
    --background-color: #373a68 ;
}
.contenedor{
    margin-top: 130px;
    height: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--body-font);
}

.titulo_fondo{
    width: 100%;
    background-image: url('http://prograweb2upslp.online/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 0;
    height: 150px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color:  var(--font-secondary-color);
    font-family: var(--body-font);
}
.contenedor_datos_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contendor_form{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.izquierdo,
.derecho{
    display: flex;
    width: 46%;
    flex-wrap: wrap;
    margin: 20px;
}
.descripcion,
.boton{
    display: flex;
    margin: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.descripcion label{
    width: 100%;
}
.descripcion input{
    width: 100%;
    height: 50px;
}
.izquierdo .nombres,
.genero,
.contenido_foto,
.universidad{
    width: 100%;
    display: flex;
    margin: 10px;
}
.derecho .empleo1,
.empleo2{
    width: 100%;
    display: flex;
    margin: 10px;
}
.contenido_izquierdo,
.contenido_derecho{
    width: 50%;
    display: flex;
}
.contenido_izquierdo input,
.contenido_derecho input{
    width: 63%;
}
.contenido_foto{
    justify-content:flex-start;
}
.universidad,
.empleo1,
.empleo2{
    flex-wrap: wrap;
}
.universidad_nombre,
.empleo_nombre{
    width: 100%;
    margin-bottom: 10px;
}
.universidad_nombre input,
.empleo1 input,
.empleo2 input{
    width: 99%;
}
.grado_obtenido,
.puesto_obtenido{
    width: 100%;
    margin-bottom: 10px;
}
.grado_obtenido input{
    width: 99%;
}
.fechas{
    width: 100%;
    display: flex;
}
.fechas label{
    padding: 10px;
}
.fechas input{
    width: 100%;
}
.fechas_inicio{
    display: flex;
    width: 50%;
}
.fechas_fin{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.nombres label{
    display: block;
}
form{
    width: 100%;
    display: flex;
    border: 1px solid green;
    flex-wrap: wrap;
    margin-top: -150px;
    font-family: var(--body-font);
}
form input{
    border-radius: 5px;
    height: 30px;
   border: 1px solid rgb(204, 202, 202);
    font-family: var(--body-font);
    font-weight: 300;
    text-align: center;
}

.descripcion{
    width: 100%;
}
.boton{
    justify-content: space-evenly;
}
.boton input[type="submit"]{
   width: 80%;
   height: 50px;
   text-transform: uppercase;
   background-color: #31af36;
   font-family: var(--body-font);
   border: none;
}